* {
  margin: 0;
  padding: 0;
  font-family: "Liberation Mono", monospace;
}

body {
  background: #f0fffe;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #104372;
}

a:hover {
  color: #059fc5;
}

#main {
  position: absolute;
  top: 40px;
  left: 280px;
  width: 500px;
  padding-bottom: 50px;
}

#main h1 {
  font-size: 28px;
  font-weight: normal;
  line-height: 40px;
  letter-spacing: -1px;
  margin-bottom: 20px;
}

#main h2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}

#main p {
  margin: 20px 0;
  font-size: 15px;
  line-height: 20px;
}

#main td.code pre {
  margin: 15px 0;
  background-color: #c3ffcc;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  line-height: 20px;
}

.line-numbers {
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  line-height: 20px;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 15px;
  line-height: 20px;
}

#main ul li {
  list-style-type: square;
}

#sidebar {
  position: absolute;
  top: 40px;
  left: 20px;
  width: 200px;
  padding: 20px 20px 0 0;
  border-right: 3px solid #493b86;
  text-align: right;
}

#sidebar h2 {
  text-transform: lowercase;
  font-size: 15px;
  color: #16b6a1;
  letter-spacing: 3px;
  line-height: 20px;
}

#sidebar ul {
  list-style-type: none;
  margin: 20px 0;
}

#sidebar li {
  font-size: 14px;
  line-height: 20px;
}