<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>AGC - <%= @item[:title] %></title>
    <link rel="stylesheet" href="/stylesheet.css">

    <!-- you don't need to keep this, but it's cool for stats! -->
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
  </head>
  <body>
    <div id="main">
      <%= yield %>
    </div>
    <div id="sidebar">
      <h2>Click on one of us!</h2>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/people">People</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/faq">FAQ</a></li>
      </ul>
      <h2>External</h2>
      <ul>
        <li><a href="https://gitlab.com/nagakawa">GitLab</a></li>
        <li><a href="https://discord.gg/sDbNH5N">Discord</a></li>
      </ul>
    </div>
  </body>
</html>
